{% extends 'base.html.twig' %}
 {% block body %}
    Hello from Tunisie
    <p>it'scurrently{{'now'|date('h:i A')}}<p>
    <a href=\about>link</a><br>
   <img src="{{ asset('image/144565.jpg') }}" width="50% "alt="My Image"> <br>
 {% endblock %}